@charset "utf-8";



.grid_list {
    display: grid;
    grid-template-columns: 3fr 5fr; /* 左边大，右边小 */
    grid-gap: 50px;
    color: #636363;
}

.grid_list::after {
    content: "";
    grid-column: 1 / -1;   /* 跨所有列 */
    width: 100%;
    height: 1px;
    background-color: #aaa;
    justify-self: center;
    margin: auto;
    margin-bottom: 70px;
}

.grid_list .big_container p {
    font-size: 36px;
    font-weight: 600;
    padding-left: 10px;
}

.grid_list .small_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 列 */
    grid-template-rows: 1fr 1fr;        /* 2 行 */
    grid-gap: 30px;
}

.grid_list .small_container div {
    height: 330px;          /* 高度可自定 */
}
.grid_list .small_container div img {
    width: 100%;
}
.grid_list .small_container div p {
    padding-left: 5px;
}







